{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin Dashboard</h1>
      </div>

      <div class="table-responsive">

        <table class="table table-striped table-sm">
          <tbody>
            <tr><td><a class="nav-link" type="button" href="#">Display Meetings By Week</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Display Meetings By Day</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Display Meetings By Time</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Display Meetings By Room</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Display Meetings By User</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Create New Administrator Account</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/add_room">Add Room Available for Meetings</a></td></tr>
             <tr><td><a class="nav-link" type="button" href="/view_rooms">Display Rooms Available for Meetings</a></td></tr>
             <tr><td><a class="nav-link" type="button" href="/delete_room">Delete Room Available for Meetings</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Update Client's Billing Information</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">View Complaints and Respond</a></td></tr>
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}