{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="table-responsive">

        <table class="table table-striped table-sm">
          <tbody>
            <tr><td><a class="nav-link" type="button" href="/meetings-participation">Display Meetings</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/auth/newmeeting">Book Meeting</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Edit Existing Meetings</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Add People to Existing Meeting</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Reserve Room</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Edit or Update Profile</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">Pay for Special Room</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="#">File Complaint</a></td></tr>
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}