{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard for Client</h1>
      </div>

      <div class="table-responsive">

        <table class="table table-striped table-sm">
          <tbody>
            <tr>
                <td>
                    <div class="container">
                        <div class="row">

                            <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>Book Room For Meeting</h5>
                                <button class="btn btn-primary btn-sm"><a href="/auth/newmeeting" style="color: white;">Book</a></button>
                            </div>

                            <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>View Meetings You Created</h5>
                                <button class="btn btn-primary btn-sm"><a href="/meetings-participation" style="color: white;">Display</a></button>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>Pay For Special Room</h5>
                                <button class="btn btn-primary btn-sm"><a href="/pay_for_special" style="color: white;">Pay</a></button>
                            </div>

                            <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>View Meetings You Are Participating</h5>
                                <button class="btn btn-primary btn-sm"><a href="/participation-as-member" style="color: white;">Display</a></button>
                            </div>

                            <div class="w-100"></div>
                            <hr>

                            <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>View Booked Special Rooms</h5>
                                <button class="btn btn-primary btn-sm"><a href="/view/special_payments" style="color: white;">Display</a></button>
                            </div>

                             <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>Edit Meeting: Change date, time or participants</h5>
                                <button class="btn btn-primary btn-sm"><a href="/meetings-participation" style="color: white;">Edit Meeting</a></button>
                            </div>


                            <div class="w-100"></div>
                            <hr>

                             <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>Edit Profile</h5>
                                <button class="btn btn-primary btn-sm"><a href="/edit/profile" style="color: white;">Edit Profile</a></button>
                            </div>

                             <div class="col" style="border:1px solid gray; border-radius:5px; padding:5px;">
                                <h5>File Complaint</h5>
                                <button class="btn btn-primary btn-sm"><a href="/file_complaint" style="color: white;">File</a></button>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}