{% extends "index_user.html" %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard for Client</h1>
      </div>

      <div class="table-responsive">

        <table class="table table-striped table-sm">
          <tbody>
            <tr><td><a class="nav-link" type="button" href="/auth/newmeeting">Book New Meeting : Schedule a new Meeting here</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/meetings-participation">Display Meetings : Display all meetings for which you are the Organizer</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/participation-as-member">Display Meetings: Display all Meetings you are participating in as member</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/meetings-participation">Edit Meeting : Change meeting date, time or add or remove people from a Meeting</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/edit/profile">Edit or Update Your Profile</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/pay_for_special">Pay for Special Room Here</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/view/special_payments">View Booked Special Rooms</a></td></tr>
            <tr><td><a class="nav-link" type="button" href="/file_complaint">File Complaint Here</a></td></tr>
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}