    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
{% extends "index.html" %}

{% block content %}

<div class="container page-form">
    <h1>Welcome to PennSoft Scheduling Tracker Application</h1>
    <p class="login-text">Returning Users should log in</p>
    <p class="login-text">New Users should click to Register for a new Account</p>
    <form id="login-form" action="/auth/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email" placeholder="e.g., test@test.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password">
        </div>

        <button type="submit" class="btn btn-success">Log in</button>
        <a class="btn btn-primary" href="/register" role="button">Register</a>
    </form>
</div>

{% endblock %}