    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-bar-text">Logged In as: {{ email }} </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Schedule Event</a>
                        <a class="dropdown-item" href="#">View Availability</a>
                        <a class="dropdown-item" href="#">Edit Event</a>
                        <a class="dropdown-item" href="#">Delete Event</a>
                    </div>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

{% extends "index.html" %}

{% block content %}

    <div class="container">
        <h1>{{ name }}'s Profile Page</h1>
        <h2>Select Action</h2>
        <a class="btn btn-primary" href="#" role="button">Schedule Event</a>
        <a class="btn btn-primary" href="#" role="button">View Availability</a>
        <a class="btn btn-primary" href="#" role="button">Edit Event</a>
        <a class="btn btn-primary" href="#" role="button">Delete Event</a>
        <a class="btn btn-primary" href="/auth/logout" role="button">Logout</a>
    </div>
    <hr>

    <div class="container">
        <h2>{{ name }}'s Scheduled Events</h2>
    </div>
    <hr>

    <div class="container">
        <h1>Add Calendar Here</h1>
    </div>


{% endblock %}